{% include "base.html" %}


<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <div class="row justify-content-md-center">

                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Why do I have no classes in my home view?</h5>
                                <p class="card-text">If you have no classes in your home view, that means you do not
                                    currently
                                    own any class periods. Ask your administrator to add you as the owner of your class
                                    in order
                                    to gain access.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Administration</h5>
                                <p class="card-text">If you require help with the application, email pduncan@hackucf.org
                                    for
                                    administrative help</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </html>