swagger: "2.0"
info:
  description: "This is a sample server Petstore server.  You can find out more about     Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters."
  version: "1.0.0"
  title: "Swagger Petstore"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "attendhere.com"
basePath: "/api/classes"
tags:
- name: "pet"
  description: "Everything about your Pets"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
- name: "store"
  description: "Access to Petstore orders"
- name: "user"
  description: "Operations about user"
  externalDocs:
    description: "Find out more about our store"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /token/:
    post:
      tags:
      - "authentication"
      summary: "Authenticate and receive a token"
      operationId: "GenToken"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Authentication information"
        required: true
        schema:
          $ref: "#/definitions/auth"
      responses:
        401:
          description: "No active account found with the given credentials"
        200:
          description: "Refresh Token and Access Token"
  
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  auth:
    type: "object"
    properties:
      username:
        type: "string"
      password:
        type: "string"


